{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block main %}
    <main class="col-md-8">
                <article class="post post-{{ article.id }}">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ article.title }}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ article.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="{{ article.created_time }}">{{ article.created_time }}</time></a></span>
                            <span class="post-author"><a href="#">{{ article.get_name }}</a></span>
                            <span class="comments-link"><a href="#">{{ article.get_comment_num }} 评论</a></span>
                            <span class="views-count"><a href="#">{{ article.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        {% autoescape off %}
                        {{ article.content|safe }}
                        {% endautoescape %}
                    </div>
                </article>
                <section class="comment-area" id="comment-area">
                    <hr>
                    <h3>发表评论</h3>
                    <form action="{% url 'comments:article_comment' article.id %}" method="post" class="comment-form">
                        <div class="row">
                            <div class="col-md-4">
                              <label for="{{ form.name.id_for_label }}">名字：</label>
                              {{ form.name }}
                              {{ form.name.errors }}
                            </div>
                            <div class="col-md-4">
                              <label for="{{ form.email.id_for_label }}">邮箱：</label>
                              {{ form.email }}
                              {{ form.email.errors }}
                            </div>
                            <div class="col-md-4">
                              <label for="{{ form.url.id_for_label }}">URL：</label>
                              {{ form.url }}
                              {{ form.url.errors }}
                            </div>
                            <div class="col-md-12">
                              <label for="{{ form.text.id_for_label }}">评论：</label>
                              {{ form.text }}
                              {{ form.text.errors }}
                              <button type="submit" class="comment-btn">发表</button>
                            </div>
                          </div>
                        {% csrf_token %}<!-- row -->
                    </form>
                    <div class="comment-list-panel">
                        <h3>评论列表，共 <span>{{ article.get_comment_num }}</span> 条评论</h3>
                        <ul class="comment-list list-unstyled">
                            {% for comment in comment_list %}
                              <li class="comment-item">
                                <span class="nickname">{{ comment.name }}</span>
                                <time class="submit-date">{{ comment.created_time }}</time>
                                <div class="text">
                                  {{ comment.text }}
                                </div>
                              </li>
                              {% empty %}
                              暂无评论
                              {% endfor %}
                        </ul>
                    </div>
                </section>
            </main>
{% endblock %}
{% block toc %}
    <aside class="col-md-4">
                <div class="widget widget-content">
                    <h3 class="widget-title">文章目录</h3>
                    <ul class="menu">

                    </ul>
                </div>
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_recent_articles as recent_post_list %}
                    <ul>
                        {% for article in recent_post_list %}
                        <li>
                            <a href="{% url 'blog:detail' article.id %}">{{ article.title }}</a>
                        </li>
                        {% empty %}
                        暂无文章！
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                        <li>
                          <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                        {% empty %}
                        暂无归档！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        {% for category in categorys %}
                        <li>
                            <a href="{% url 'blog:category' category.id %}">{{ category.name }}<span class="post-count">{{ category.get_articles_num }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        {% for tag in article.tags.all %}
                        <li>
                            <a href="{% url 'blog:tag' tag.id %}">{{ tag.name }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>

            </aside>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(function () {
            var arr = $("h2");
            arr.each(function () {
                    $(".menu").append("<li>"+$(this).html()+"</li>")
                }
            )
        });
    </script>
{% endblock %}

