{% extends 'base.html' %}
{% load staticfiles %}
{% load blog_tags %}
{% block main %}
   <main class="col-md-8">
                {% for article in articles.object_list %}
                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'blog:detail' article.id %}">{{ article.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category">{{ article.category.name }}</span>
                            <span class="post-date"><time class="entry-date"
                                                                      datetime="{{ article.created_time}}">{{ article.created_time}}</time></span>
                            <span class="post-author">{{ article.get_name }}</span>
                            <span class="comments-link">{{ article.get_comment_num }} 评论</span>
                            <span class="views-count">{{ article.views }} 阅读</span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ article.excerpt|truncatechars:54 }}...</p>
                        <div class="read-more cl-effect-14">
                            <a href="{% url 'blog:detail' article.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {% empty %}
                  <div class="no-post">暂时还没有发布的文章！</div>
                {% endfor %}

                <div class="pagination">
                    <ul>
                        {% if articles.has_previous %}
                 <li><a href="?{{ articles.previous_page_number.querystring }}" >上一页</a></li>
                             {% endif %}
                          {% for page in articles.pages %}
                        {% if page %}
                            {% ifequal page articles.number %}
                                   <li class="current"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% else %}
                    <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if articles.has_next %}
                    <li><a href="?{{ articles.next_page_number.querystring }}">下一页</a></li>
                    {% endif %}
                    </ul>
                </div>
            </main>
{% endblock %}
{% block toc %}
    <aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_recent_articles as recent_post_list %}
                    <ul>
                        {% for article in recent_post_list %}
                        <li>
                            <a href="{% url 'blog:detail' article.id %}">{{ article.title }}</a>
                        </li>
                        {% empty %}
                        暂无文章！
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                        <li>
                          <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                        {% empty %}
                        暂无归档！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    {% get_categories as category_list %}
                    <ul>
                    {% for category in category_list %}
                        <li>
                          <a href="{% url 'blog:category' category.id %}">{{ category.name }} <span class="post-count">{{ category.get_articles_num }}</span></a>
                        </li>
                    {% empty %}
                        暂无分类！
                    {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    {% get_tags as tag_list %}
                    <ul>
                        {% for tag in tag_list %}
                        <li>
                            <a href="{% url 'blog:tag' tag.id %}">{{ tag.name }}</a>
                        </li>
                            {% empty %}
                            暂无标签！
                        {% endfor %}
                    </ul>
                </div>

            </aside>
{% endblock %}
